<h1 class="text-center mt-4">Users</h1>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Joined</th>
    </tr>
  </thead>
        <% @users.each do |user| %>
  <tbody>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= time_ago_in_words(user.created_at) %> ago</td>
    </tr>
        <% end %>
        </tbody>
        </table>
</div>
